pandas
opik
llama-index
llama-index-storage-docstore-redis
llama-index-readers-wikipedia
llama-index-vector-stores-qdrant
llama-index-storage-docstore-redis
llama-index-storage-index-store-redis
llama-index-callbacks-opik
llama-index-retrievers-bm25
gutenbergpy
sentence-transformers
spacy
tenacity
fastembed
opik
dataclasses-json
networkx
nltk
pillow
typing-inspect
wrapt
deprecated
griffe
fsspec
aiosqlite
sqlalchemy[asyncio]
pydantic_settings
rich
