spacy
fastembed
gutenbergpy
llama-index
llama-index-storage-docstore-redis
llama-index-readers-wikipedia
llama-index-vector-stores-qdrant
llama-index-storage-docstore-redis
llama-index-storage-index-store-redis
llama-index-callbacks-opik
opik
